body{
    background-color: #121024;
}
*{
    color: #F6F5F2;
    font-family: "Poppins", serif;
    /* font-weight: 100; */
    font-style: normal;
}
.fa-bars{
    /* background: #0B192C; */
   
    color: #9299a2;
}
.form-control{
    width: 50%;
    border: none;
}

.form-button{
    background: #4099f3;
    color: #F6F5F2;
    font-weight: 600;
    border-radius: 30px;
    font-size: 17px;
  
}
.navbar-expand-md{
    height: 7vh;
    background: #0c0a1c;
}
.fa-bell{
    font-size: 24px;
    color: aliceblue;
    /* background: #141926; */
}
.fa-bell:hover,.main-card1 a h4:hover{
    color:rgb(115, 111, 111);
}
.navbar-nav .nav-item .nav-link{
    color: #9299a2;
}
.navbar-nav .nav-item .nav-link:hover {
    color: #F6F5F2;
}
.navbar-nav .nav-item .nav-link:focus{
    color: #3A6D8C;
}
.border-none{
    border: none;
}
.sidebar-content li .activ{
    background: #1f60b7;
    /* border-top-left-radius: 25px; */
    border-radius: 11px;
}
.sidebar-content li a{
    color: #F6F5F2;
    font-size: large;
    margin-bottom:24px;
}
.sidebar-content li a:hover , .sidebar-content li a:focus{
    color: #9299a2;
 

}
.sidebars{
   border-radius: 15PX;
    /* background-color: #0b1c24; */
    /* background-color: #0b1c24; */
    background: linear-gradient(135deg,#042124 20%, #040912,z #042124);

 /* background-color: linear-gradient(#0b1c24 60%,#090b19 40%);
    background-image: linear-gradient(rgb(7, 10, 7)1px,transparent 0.25rem),
    linear-gradient(90deg,rgba(213,255,213,1)1px,transparent 0.25rem);
    background-size:  1rem 1rem ;  */
}
.all-main-content{
    background: repeating-linear-gradient(85deg, #040912 ,#042124 ,#020c15,#02161f  ,#010a0b );

}
.header-content{
    width: 100%;
    /* height: 13vh; */
    background: repeating-linear-gradient(85deg, #040912 ,#042124 ,#020c15,#02161f  ,#010a0b );
}
.header-child{
    width: 100%;
    background-color: transparent;
}
.header-button button{
     /* background: transparent; */
    /* opacity: 0.1; */
    color: #d5d5d3; 
    font-weight: 600;
    border: none;
    border-radius: 30px;
    padding: 12px;
}
.header-button button:hover{
    color: #0d0d04;
}
.main-card1{
    background-color: #967ef8;
    height: 30vh;
    border-radius: 20px;
}
.article-butn{
    /* background-color: #0c1724; */
    background: linear-gradient( #042124 ,#02161f );
    border: 1px solid #14242a; 

    border-radius: 29px;
}
.jhj{
    height: 86%;
    transform: rotatey(50deg);

}
/* all content border */
.main-section-cards , .left-footer, .header-child,.spot-free-rate,.buy-crypto,.left-footer-button,.footer-right-section ,thead,.table-data,.chart-button{
    border: 1px solid #14242a; 
    border-radius: 23px;
}
.dollor-icon{
    background: #04b083;
}
.dollor-icon2{
    background: #f1af20;
}

.fa-hand-holding-dollar,.fa-coins{
    font-size:30px ;
}
.secdiv-content :nth-child(2),.third-card-p ,.third-card-footer p{
    color: #4c5c6c;
}
.fa-arrow-up-div{
    width: 10%;
    height: 45%;
    border-radius: 13px;
    background: linear-gradient(#0c1c24,#0c1c1c,#0c141c);
    border: 1px solid #102b34;
}
/* 2nd card arrow icon */
.fa-arrow-ups{
transform: rotate(30deg);
color: #05906c;
font-size: 23px;
position: absolute;
top: 12px;
left: 14px;
cursor: pointer;
}
.fa-arrow-up-div:hover ,.fa-arrow-ups:hover{
    background: #2b4b43;
    color: #72cdb6;
    cursor: pointer;
}

/* 3dcard arrow icon */
.fa-arrow-upe{
    transform: rotate(40deg);
    color: #05906c;
    font-size: 17px;
}

.end-card-header a{
    text-decoration: none;
    color: #05906c;
    font-size: 30px;
}
.end-card-header :nth-child(2):hover,.fa-arrow-upe:hover{
    color: #143e43;
}
.fa-circle{
    color:#04b083;
}
.spot-free-rate-child> :first-child{
    border-right: 1px solid #14242a ;
    padding-right: 15px;
}

.accordion-button::after{
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzvHXjRIpWVjoXmiazkVOv-a3LDWiZPhP3oQ&s); */
  color: #04b083;
  filter: invert(1) brightness(100%);
  
}
.accordion-button::before{
    color: rgb(255, 250, 241);
  filter: invert(1) brightness(100%);

}
.accordion-button:focus{
    box-shadow: 0 0 0;
}
.progress-bar{
    background-color: #08d39e;
}
.progress{
    background-color: #0a362c;
    border-radius: 10PX;
}
.left-footer-button{
color: #465661;
}
.footer-right-section{
    background: linear-gradient(#04b083,#047759) ;
}
/* highchart */


#table-sparkline {
    width: 100%;
    border-collapse: separate;
   border-spacing: 15px;

}


.highcharts-tooltip > span {
    background: white;
    border: 1px solid silver;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #888;
    padding: 8px;
}
.table-data>th ,.table-data>td{
   font-size: 16px;
   font-weight: normal;
   border-collapse: separate;
   
   /* background: #4b4646; */
   border-spacing: 15px;
}
.chart-button{
    color: #05906c;
    /* border: 1px solid #05906c; */
    background-color: transparent;  
}
.chart-button >i{
    color: #05906c;
}










/* responsiveness */
@media only screen and (max-width: 768px) {
    .header-child{
        width:30vw;
        background-color: transparent;
        border-radius:15px ;
    }
    .header-content{
        width: 100%;
    }

  }